@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Rob;
    src: url(assets/fonts/Roboto-Regular.tff);
}
@font-face {
    font-family: Archi;
    src: url(assets/fonts/Archivo-VariableFont.ttf);
    font-style: bold;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: BebasNeue;
    src: url(assets/fonts/BebasNeue-Regular.ttf);
}
body * {
    font-family: Rob;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
}
body
{
    margin: 0;
    padding: 0;
    background-color: #B4CFFA;
    font-family: 'Times New Roman', Times, serif;
    overflow: scroll;
}
#nav-bar
{
    position: sticky;
    top: 0;
  }
.navbar
{
    background-color: #1A2653;
    padding: 0 !important;
}
navbar-brand img
{
    height: 1px;
    padding-left: 3px;
}


.record-text {
    padding: 40px 10px 40px 10px;
    border: #000033 2px dashed;
    height: 100%;
}

.border-line {
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: #000033 3px solid;
}

.carousel-item > img {
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    object-fit: cover;
}

.olympics-text{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border: #ca9ddb 2px;
    height: 75%;

}

#myCarousel .carousel-item .carousel-caption {
    font-family: 'Roboto', sans-serif;

}
#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}
h2 {
  margin: 20px 0px 20px 0px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.right-col{
    top: 10px;
    left: 50vw;
    margin-right: 6%;
    display: flex;
}
.right-col p{
font-size: 18px;
color: #5f5f5f;
font-weight: 400;
margin-right: 15px;
}
  #icon0, #icon1, #icon2, #icon3, #icon4, #icon5, #icon6{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0px;
  }
  .img-fluid {
    border:  3px solid #1A2653;
  }

.button {
  padding: 10px 10px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 1 5px #666;
  transform: translateY(4px);
}
